/* HTML5 Boilerplate cherry picked reset */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #0d0200; text-decoration: none; }
a:visited { color: #0d0200; }
a:hover { color: #0d0200; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* helpers */

.ir { border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* legacy support */

.lt-ie9 *{
	display: none;
}