
/* helpers */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* structure */

.wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

/* layout */

header {
    position: relative;
    width: 100%;
    border-top: solid 4px rgba(0, 0, 0, 0.4);
    color: #555;
}

.title {
    float: left;
    font-family: "Old Standard TT", serif; 
    font-weight: 400; 
    font-size: 3rem;
    text-transform: uppercase;
}

.title--threed {
    color: #000;
    text-shadow: -0.06em 0 red, 0.06em 0 #0ff;
}​

nav {
    float: right;
}

nav a {
    float: left;
    margin: 3.2rem 1rem 0 0;
    padding: 0 0 0.4rem;
    list-style-type: none;
    font-size: 1.2rem;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

nav a {
    color: #0d0200;
}

nav a:visited {
    color: #0d0200;
}

nav a:hover {
    color: #380b03;
    border-bottom: solid 1px #0d0200;
}

/* responsive-ness */

@media all and (max-width: 960px) {

    div {
        padding: 0 1rem;
    }

}

@media all and (max-width: 580px) {

    nav {
        clear: both;
        float: left;
        margin: 0 0 0 0.2rem;
    }

    nav a {
        margin-top: 0rem;
    }

    nav a:hover {
        border-bottom: 0; 
    }

    footer a {
        font-size: 2rem;
    }

}