
* {
    font-family: 'Droid Sans', Helvetica, sans-serif;
    box-sizing: border-box;
    color: #4f4f4f;
}

/* helpers */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

// Colours
@pomegranate: #c0392b;
@slate: #2c3e50;
@aqua: #3498db;
@maroon: #9b2335;

.transition(@length: 0.3s) {
    -webkit-transition: all @length ease-out;
    -moz-transition: all @length ease-out;
    -o-transition: all @length ease-out;
    transition: all @length ease-out;
}

/* structure */

* {
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100%;
}

body {
    min-height: 1000px;
    background: white;
}

/* layout */

header {
    border-left: solid 6px white;
}

.title {
    margin: 20px 0;
    padding: 0 0 0 10px;
    border-left: solid 6px @aqua;
    text-align: left;
    font-family: "Open Sans", serif; 
    font-weight: 800; 
    font-size: 3rem;
    text-transform: uppercase;
    background: white;
    color: @slate;
}

nav {
    width: 100%;
    background: white;
    height: 30px;
    overflow: hidden;
    .transition(250ms);
}

.navigation {
    width: 700px;
    margin: 0 auto;
}

nav:hover {
    height: 70px;
}

nav a,
nav i {
    float: left;
    margin: 0 1em 1em 0;
    padding: 0.8em 1em;
    color: @slate;
    list-style-type: none;
    font-size: 1.2rem;
    text-decoration: none;
    .transition();
}

nav a:hover {
    background-color: @slate;
    color: white;
}

.parallax {
    width: 100%;
    margin-top: 1000px;
    background: white;
}

.image {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 700px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.quoted {
    margin: 0 auto;
    padding: 200px 0 0;
    width: 700px;
    letter-spacing: 0.01rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.quoted__title {
    margin: 0 0 15px;
    font-size: 40px;
    font-weight: bold;
}

.quoted__text {
    font-size: 1.25em;
    font-weight: normal;
    color: white;
}

.author {
    position: relative;
    z-index: 1;
    min-height: 100px;
    width: 700px;
    padding: 10px 20px 10px 0;
    margin: 0 auto;
    background: white;
}

.author__avatar {
    display: block;
    float: left;
    width: 75px;
    height: 75px;
    padding: 25px 0 0;
    background-position: 50% 50%;
    background-size: 100% auto;
    border-radius: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    white-space: nowrap;
    text-decoration: none;
    text-align: right;
    text-indent: 85px;
}

/* responsive-ness */

@media all and (max-width: 580px) {

    nav a {
        margin-top: 0rem;
    }

    nav a:hover {
        border-bottom: 0; 
    }

    footer a {
        font-size: 2rem;
    }

}

@media screen and (max-width: 604px) {

    nav:hover {
        height: 145px;
    }

}

@media screen and (max-width: 700px) {

    .image {
        background-size: auto 100%;
    }

    .navigation {
        width: 100%;
    }

    .quoted {
        width: 100%;
    }

}