
body {
    padding: 0;
    margin: 0;
    background-color: #0C1021;
    font-family: monospace;
    font-size: 100%;
    line-height: 1.6em;
    color: #8DA6CE;
}

h1 {
    padding: 0.5em;
    font-size: 3em;
    color: #fff;
}

section {
    float: left;
    width: 50%;
    font-size: 1.25em;
}

section h1 {
    font-size: 1.4em;
    padding: 1em;
}

section.less {

}

section.css3 {

}

.code-block {
    padding: 0.4em 2em;
    white-space: pre-wrap;
}

.code-block b {
    display: inline-block;
    border-bottom: 1px dotted #999;
}